{
  "parserOptions": {
    "ecmaVersion": "2017",
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "console": true,
    "process": true
  }
}
